# general
.*.sw*
.DS_Store

# project specific
*.eps
.intro-to-git.toc.sum
intro-to-git.aux
intro-to-git.dvi
intro-to-git.log
intro-to-git.nav
intro-to-git.out
intro-to-git.pdf
intro-to-git.ps
intro-to-git.snm
intro-to-git.toc
intro-to-git.vrb
texput.log
